.home-container{
    background-color: #31473a;
    height: 100%;
    width: 100%;
    margin-top: 0px;
}
.nav-container{
    height: 50px;
    width: 100%;
}
.card-container{
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pagination-container button{
    margin: 20px 20% 20px 20%;
    font-size: 20px;
    padding: 10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 15px;
    border:5px solid #edf4f2;
    background-color: #31473a;
    color: #edf4f2;
}
.pagination-container .btn-next{
    float: right;
}
.pagination-container button:hover{
    border:5px solid #edf4f2;
    color: #31473a;
    background-color: #edf4f2;
}