.home-container{
    background-color: #31473a;
    height: 100%;
    width: 100%;
    margin-top: 0px;
}
.nav-container{
    height: 50px;
    width: 100%;
}
.card-container{
    margin: 70px 90px 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.page-nums-btn{
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:2px solid #edf4f2;
    background-color: #31473a;
    color: #edf4f2;
    cursor: pointer;
}
.pagination-container .main-btn{
    margin: 20px 10% 20px 10%;
    font-size: 20px;
    padding: 10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 15px;
    border:5px solid #edf4f2;
    background-color: #31473a;
    color: #edf4f2;
}
.pagination-container .btn-next{
    float: right;
}
.pagination-container button:hover{
    border:5px solid #edf4f2;
    color: #31473a;
    background-color: #edf4f2;
}
.loading-bar{
    height: 100vh;
    width: 100%;
    background-color: #472d24;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-bar .msg{
    width: 100%;
}
